{% load staticfiles %}


    <article id="contents">

<h2>Металлообработка</h2>

<p>
    <div id="content_menu" style="background-color:#e0e0e0;">
        <table>
            <tr>
                <td style="padding:7px 13px;"><a href="/services/metalwork/gaz_rezka/">Газовая резка</a></td>
                <td style="padding:7px 13px;"><a href="/services/metalwork/pravka_buht/">Правка бухт в прутки </a></td>
                <td style="padding:7px 13px;"><a href="/services/metalwork/plazma_rezka/">Плазменная резка</a></td>
            </tr>
            <tr>
                <td style="padding:7px 13px;"><a href="/services/metalwork/rubka_listov/">Рубка листов на гильотине</a></td>
                <td style="padding:7px 13px;"><a href="/services/metalwork/mech_rezka/">Механическая резка на абразивно-отрезном станке</a></td>
                <td style="padding:7px 13px;"><a href="/services/metalwork/lentopil_rezka/">Резка на ленточнопильном станке</a></td>
            </tr>
        </table>
    </div>
</p>

<div class="page-rezka">
    <p><strong>Необходимость резки металла возникает при производстве металлоконструкций и&nbsp;металлических изделий. Качество этой продукции напрямую зависит от&nbsp;качества резки металла&nbsp;&mdash; точности раскроя и&nbsp;состояния срезов.</strong></p>


<blockquote><p>Ознакомиться с возможностями применения оборудования и ценами на услуги вы можете с помощью прайс-листа на услуги резки.<br /><a href="/download/files/uslugi/metalloobrabotka.doc" title="Скачать файл" class="download" target="_blank">Скачать прайс-лист</a> <ins>(217 Кб, doc)</ins></p></blockquote>
</div>

  </article>