<aside id="sidebar-wrapper">
    <nav class="sidebar">
    <ul>
        <li {% if smenu == "metalwork" %}class="sm_active"{% endif %}><a href="/services/metalwork/" title="Металлообработка" class="sm_link" onclick="return false">Металлообработка</a></li>
        <li {% if smenu == "delivery" %}class="sm_active"{% endif %}><a href="/services/delivery/" title="Доставка" class="sm_link" onclick="return false">Доставка</a></li>
        <li {% if smenu == "weighing" %}class="sm_active"{% endif %}><a href="/services/weighing/" title="Взвешивание авто" class="sm_link" onclick="return false">Взвешивание авто</a></li>
        <li {% if smenu == "storage" %}class="sm_active"{% endif %}><a href="/services/storage/" title="Складские услуги" class="sm_link" onclick="return false">Складские услуги</a></li>
        <li {% if smenu == "pp_rezka" %}class="sm_active"{% endif %}><a href="/services/pp_rezka/" title="Складские услуги" class="sm_link" onclick="return false">Продольно-поперечная резка</a></li>
    </ul>
    </nav>

</aside>