<div>
    <h2><a href="/services/delivery/" title="Доставка" rel="nofollow">Доставка</a></h2>
    <img src="/img/img-4.jpg" width="244" alt="" height="56" />
    <p>Доставка уже обработанного, нарезанного металла выгодна по многим параметрам:</p>

    <ul>
        <li>Сокращение затрат на транспортировку металла;</li>
        <li>Сокращение площадей под складирование металла;</li>
        <li>Отсутствие дополнительных расходов на содержание и обслуживание металлообрабатывающей техники;</li>
        <li>Возможность использования квалифицированных работников.</li>
    </ul>
</div>

<blockquote>
    <div class="page-products-sale">
    <h3>Отдел продаж</h3>
    <p>Оформить заявку и&nbsp;получить информацию о&nbsp;наличии, стоимости металлопроката и услуг, условиях поставки, и&nbsp;пр. можно у&nbsp;специалистов отдела продаж по телефонам</p>
    <p>+7 (3452) 520-670 (71, 72, 73, 74)</p>
    </div>
</blockquote>