{% extends 'base/base.html' %}

{% block content %}
    <h3>{{ hello }}</h3>
    <div class="obj-ulinks">
        <div class="ulinks1">
            <h3><a href="http://www.trimet.ru/services/metalwork/" title="подробнее">Металлообработка</a></h3>
            <p>Мы оказываем дополнительные услуги по обработке металла: резка, рубка</p>
        </div>
        <div class="ulinks2">
            <h3><a href="http://www.trimet.ru/services/delivery/" title="подробнее">Доставка</a></h3>
            <p>Доставка КАМАЗами, ГАЗелями, железнодорожным и водным транспортом</p>
        </div>
        <div class="ulinks3">
            <h3><a href="http://www.trimet.ru/services/weighing/" title="подробнее">Взвешивание</a></h3>
            <p>Высокоточные электронные весы, контроль веса грузовых автомобилей</p>
        </div>
        <div class="ulinks4">
            <h3><a href="http://www.trimet.ru/services/storage/" title="подробнее">Складские услуги</a></h3>
            <p>Отправка и прием вагонов, погрузо-разгрузочные работы</p>
        </div>
    </div><!-- /obj-ulinks -->
    <article id="contents">
    <p>
    Черепа́хи (лат. Testudines) — один из четырёх отрядов пресмыкающихся, существующий на протяжении более 220 миллионов лет. Содержит около 328 современных видов, группируемых в 14 семейств и 2 подотряда[1], распространённых в тропической и умеренной климатических зонах почти по всей Земле и живущих как в воде, так и на суше.

С экологической точки зрения черепахи делятся на морских и наземных, а наземные в свою очередь подразделяются на сухопутных и пресноводных[2].

Иногда этих животных относят к подклассу парарептилий[3] или даже выносят в отдельный класс.

Раздел зоологии занимающийся изучением черепах и других рептилий называется герпетология.
    </p>
    

    </article>

{% endblock %}