{% extends 'base/base.html' %}
{% load staticfiles %}

{% block sidebar %}
<aside id="sidebar-wrapper">
    <nav class="sidebar">
    <h1>Подразделы</h1>
    <ul>
    <li><a href=# >test1</a></li>
    <li><a href=# >test2</a></li>
    <li><a href=# >test3</a></li>
    <li><a href=# >test4</a></li>
    <li><a href=# >test5</a></li>
    <li><a href=# >test6</a></li>
    <li><a href=# >test7</a></li>

    </ul>
    </nav>
    <nav class="sidebar">
    <h1>Их может быть несколько!</h1>
    <ul>
        <li><a href="#" target="_blank">Facebook</a>
        <li><a href="#" target="_blank">Twitter</a>
    </ul>
    </nav>
<section class="sidebar">
И доп. пространство для всякого!
</section>

</aside>
{% endblock %}



{% block content %}
    <article id="contents">
    <p>Онда́тра[1], или мускусная крыса[1] (лат. Ondatra zibethicus) — млекопитающее подсемейства полёвок отряда грызунов; единственный вид рода ондатр. Этот полуводный грызун родом из Северной Америки акклиматизирован в Евразии, в том числе в России.</p>
    <p>Внешне ондатра напоминает крысу (её часто называют мускусной крысой), хотя она заметно крупнее обычного пасюка (серой крысы) — вес взрослых особей может достигать 1,8 кг, хотя, как правило, они весят 1—1,5 кг. Длина тела — 23—36 см, длина хвоста почти равна длине тела — 18—28 см. Половой диморфизм не выражен.
</p><p>
Тело у ондатры вальковатое, шея короткая, голова небольшая и тупомордая. Её внешний облик свидетельствует об адаптации к водному образу жизни. Ушные раковины едва выступают из меха; глаза небольшие, высоко посаженные. Губы, как у бобров, обрастают резцами, изолируя их от ротовой полости, благодаря чему ондатра может отгрызать растения под водой, не захлебываясь. Хвост уплощён с боков, покрыт мелкими чешуйками и редкими волосками; по его нижней стороне проходит гребень удлинённых жёстких волос. На задних лапах имеются плавательные перепонки, а по краям пальцев — окаймление из коротких волос.
</p><p>
Мех ондатры состоит из грубых остевых волос и мягкого подшерстка. Окраска спины и конечностей от тёмно-коричневой до чёрной. Брюхо светлее, иногда серовато-голубое. Летом окрас светлеет. Мех очень густой, плотный и пышный, что обусловливает его водонепроницаемость. Ондатра постоянно следит за своим мехом: смазывает жировыми выделениями и расчёсывает.
</p><p>
Еще одним приспособлением к водному образу жизни является повышенное содержание в крови гемоглобина, а в мышцах миоглобина, что создаёт дополнительные запасы кислорода при погружении под воду. Другой специальной адаптацией является гетеротермия, способность регулировать приток крови к конечностям и хвосту; конечности у ондатры обычно холоднее, чем тело.</p>
  </article>

{% endblock %}